{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        '@vue/app',
        ['@babel/preset-env', { "targets": { "node": 11 } }]
      ]
    },
    "renderer": {
      "presets": [
        '@vue/app',
        ['@babel/preset-env', { "modules": false } ]
      ]
    },
    "web": {
      "presets": [
        '@vue/app',
        ['@babel/preset-env', { "modules": false } ]
      ]
    }
  }
}
